// --- BUILD RESPONSIVE SCSS ---

@media (max-width: 640px) {
  .banner-container {
    position: relative;

    .banner-wrapper {
      padding-top: 20rem;
      // position: absolute;
      // top: 50%;
      backdrop-filter: blur(7px);
      width: 100vw;
      height: 70vh;
      text-align: center;
      // display: flex;
      // align-items: center;
      // justify-content: center;
      // position: relative;

      .banner-video {
        // position: absolute;
        // height: 100vh;
        // z-index: -1;

        .banner-source-video {
          width: 100%;

        }
      }

    .banner-title {
      padding: 20rem 0 2rem 0;
      font-size: 35px;
      padding: 2rem 0;
    }

    .banner-subtitle {
      font-size: 22px;
      font-weight: lighter;
    }

    button {
      position: absolute;
      bottom: 20%;
      left: 50%;
      background-color: transparent;
      border: none;
      cursor: pointer;
      color: white;
      font-size: 40px;
    }
    }
  }
}

@media (min-width: 641px) {
  .banner-container {
    position: relative;

    .banner-wrapper {
      padding-top: 20rem;
      // position: absolute;
      // top: 50%;
      backdrop-filter: blur(20px);
      width: 100vw;
      height: 70vh;
      text-align: center;
      // display: flex;
      // align-items: center;
      // justify-content: center;
      // position: relative;

      .banner-video {
        // position: absolute;
        // height: 100vh;
        // z-index: -1;

        .banner-source-video {
          width: 100%;

        }
      }

    .banner-title {
      font-size: 88px;
      padding: 2rem 0;

      .banner-fix-title {
        display: block;
      }
    }

    .banner-subtitle {
      // width: auto;
      // background-color: rgba(107, 107, 95, 0.508);
      font-size: 50px;
      font-weight: lighter;
    }

    button {
      position: absolute;
      bottom: 20%;
      left: 50%;
      background-color: transparent;
      border: none;
      cursor: pointer;
      color: white;
      font-size: 50px;
    }
    }
  }
}


// @media (min-width: 641px) {
//   .banner-wrapper{
//     width: 100vw;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     box-sizing: border-box;
//     height: 100vh;

//     .banner-items {
//       font-size: 40px;
//       text-align: center;
//       // padding-top: 2rem
//     }

//     button {
//       background-color: transparent;
//       border: none;
//       cursor: pointer;
//       color: white;
//       font-size: 40px;
//     }
//   }

// }

// @media (min-width: 1280px) {}

// ---------END RESPONSIVE ----------


// .banner-left {
//   width: 50%;
//   text-align: left;
// }

// .banner-right {
//   img {
//   }
// }
