@media (max-width: 640px) {}



@media (min-width: 641px) {
  .experiences-container {
    width: 100vw;
    // height: 80vh;
    margin-top: 2rem;

    .experiences-switch-btn {
      margin: 4rem 0;
      border-bottom: 1px solid white;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      font-size: 3rem;

      :hover {
        background: rgba(50, 224, 196, 0.15);
        cursor: pointer;
      }
      .active-experience-tab {
        padding-bottom: 1rem;
        background: #39A2DB;
      }
    }

    .experiences-wrapper-job {
      width: 90vw;
      margin: 0 auto;
      // border: 1px solid white;
      border-radius: 25px;
      // background:
      //   linear-gradient(217deg, rgb(169 93 93 / 80%), rgb(127 22 22 / 0%) 70.71%),
      //   linear-gradient(127deg, rgb(87 114 87 / 80%), rgba(0, 255, 0, 0) 70.71%),
      //   linear-gradient(336deg, rgb(15 15 205 / 80%), rgba(0, 0, 255, 0) 70.71%);
    }

        .experiences-wrapper-background {
          // width: 80vw;
          // margin: 0 auto;

        }
  }
}
