@media (max-width: 640px) {}



@media (min-width: 641px) {
  .experiences-container {
    width: 100vw;
    margin-top: 2rem;

    .experiences-switch-btn {
      margin: 4rem 0;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      font-size: 3rem;

      :hover {
        cursor: pointer;
      }

      .active-experience-tab {
        padding-bottom: 1rem;
        border-bottom: 1px solid white;
      }
    }

    .experiences-wrapper-job {
      width: 90vw;
      margin: 0 auto;
      border-radius: 25px;
    }

    .experiences-wrapper-background {

    }
  }
}
