.skills-container {
  // width: 100%;

  .skills-header {
    .skills-header-title {
      font-size: 66px;
      font-weight: bold;
    }
    .skills-header-subtitle {
      font-size: 33px;
      font-weight: lighter;

    }
  }

  .skills-wrapper {
    margin-top: 2rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;

    .skills-title {
      font-size: 30px;
      font-weight: 300;
      color: #F6D5FF;

    }

    .skills-body {
      padding: 2rem 0;
      // display: flex;
      // flex-direction: row;

      .skills-R-icons {
        font-size: 2.5rem;
      }


      .skill-icon {
        padding: 1rem 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .skill-icon-img {
        width: 4rem;
        }
        .skill-icon-name {

        }
      }

    }

  }
}
